.keyboard {
    width: 800px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  .key {
    width: 70px;
    height: 70px;
    background-color: white;
    border: 1px solid gray;
    text-align: center;
    line-height: 70px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .special {
    background-color: lightgray;
  }
  
  .active {
    background-color: blue;
  }
  